@model Auctions.Models.Bid;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <div id="nav-bar">
            <a href="/auctions">Home</a>
            <a href="/logout">Logout</a>
        </div>
        <hr>
        <h1>
            @ViewBag.Auction.name
        </h1>
        <h3>
            Created By: @ViewBag.Auction.user.userName
        </h3>
        <h3>
            End Date: @ViewBag.Auction.endDate
        </h3>
        <hr>
        <p>
            @ViewBag.Auction.description
        </p>
        <hr>
        <!-- View bag the highest bid via controller -->
        @{
            if(ViewBag.HighestBid == 0)
            {
                <p>
                    Current Highest Bid: @ViewBag.Auction.startingBid
                </p>
            }
            else
            {
                <p>
                    Current Highest Bid: @ViewBag.HighestBid
                </p>
            }

            if(ViewBag.HighestBidder == null)
            {
                <p>
                    Starting Bid
                </p>
            }
            else
            {
                <p>
                    Bid By: @ViewBag.HighestBidder.user.firstName @ViewBag.HighestBidder.user.lastName
                </p>                
            }
        }
            <hr>
        <form asp-action="PostBid" asp-controller="auction" method="post">
            <p>
                Place a Bid:
            </p>
            <p>
                @Html.ValidationMessage("User")
            </p>
            <p>
                @Html.ValidationMessage("Amount")
            </p>
            <p>
                @Html.ValidationMessage("Wallet")
            </p>
            <input type="number" asp-for="amount">
            <input type="submit" value="Bid!">
        </form>

    </div>
</body>
</html>